*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('fundo-tibia.png');
    margin: 0;
    padding: 0;
    background-color: #010917;
    background-position: center top;
    background-repeat: no-repeat;
}

.menu img{
    border: none;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
}

header{
    background-color:#debb9d;
    height: 90px;
    display: flex;
    align-items: center;
    border-top: 3px solid #3a3738;
    border-bottom: 3px solid;
    margin-bottom: 50px;
    border-image-source: url('borda-cinza2.1.png') ;
    border-image-slice: 27%;
    border-image-repeat: repeat;
    border-left: 2px solid #3a3738;
    border-right: 2px solid #3a3738;

    
}

header .list-itens{
    display: flex;
    max-width: 260px;
    width: 100%;
    max-width: 260px;
    justify-content: space-between;
    align-items: center;
}

.list-itens li a{
    color: #5a2800;
}

header .menu{
    justify-content: space-between;
}

.quem-somos{
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    color: #5a2800
}

.quem-somos .texto-quem-somos{
    min-height: 100px;
}

.texto-quem-somos h1{
    color: #5a2800;
    font-size: 40px;
    margin-bottom: 20px; 
}

.quem-somos p{
    text-indent: 2em;
}

#texto-noticia{
    align-items: center;
    height: 70vh;
    justify-content: space-between;
}

#texto-noticia h1{
    font-size: 36px;
    color: #5a2800;
    display: flex;
    margin-bottom: 10px;
}

#texto-noticia h2{
    font-size: 20px;
    color: #5a2800;
    display: flex;
}

#texto-noticia p{
    margin-bottom: 20px;
    width: 90%;
    color: #5a2800;
    font-size: 15px;
    text-indent: 2em;
}

img{
    border-top: 10px solid #3a3738;
    border-bottom: 10px solid;
    border-image-source: url('borda-verde1.PNG') ;
    border-image-slice: 27%;
    border-image-repeat: repeat;
    border-left: 5px solid #077431;
    border-right: 5px solid #077431;
}

#texto-evento{
    height: 70vh;
    align-items: center;
    justify-content: space-between;
}

#texto-evento h1{
        font-size: 36px;
        color: #5a2800;
        display: flex;
        margin-bottom: 10px;
}

#texto-evento h2{
    font-size: 20px;
    color: #5a2800;
    display: flex;
}

#texto-evento p{
    margin-bottom: 20px;
    width: 90%;
    color: #5a2800;
    text-indent: 2em;
}

section{
    background-color: #debb9d;
    height: 100%;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    margin-bottom: 8%;
    align-items: center;
    border-left: 2px solid #3a3738;
    border-right: 2px solid #3a3738;
}

.borda-1{
    position: relative;
    height: 6px;
    width: 100%;
    background-repeat: repeat-x;
}

footer{
   background-color: #debb9d;
   height: 70px;
   display: flex;
   align-items: center;
   border-top: 3px solid #3a3738;
   border-bottom: 3px solid;
   border-image-source: url('borda-cinza2.1.png') ;
   border-image-slice: 27%;
   border-image-repeat: repeat;
   border-left: 2px solid #3a3738;
   border-right: 2px solid #3a3738;
   
}

footer .footer {
    justify-content: space-between;
    color: #5a2800;
    list-style: none;
}

.footer a{
color: #5a2800;
}






